#bloonsle {
    display: none;
}

.hint_type > img {
    width: 60px;
    height: 60px;
    padding-bottom: 15%;
}

td.hint {
    font-family: "Luckiest Guy", sans-serif;
    text-shadow: 2px 2px 2px #000000;
    font-size: 140%;
    text-align: center;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    background: rgb(30, 30, 30);
    color: white;
    border: 3px white solid;
    border-radius: 15px;
}

td.hint_png {
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    background: transparent;
}

td.hint_type {
    font-family: "Luckiest Guy", sans-serif;
    text-shadow: 3px 3px 3px #000000;
    font-size: 160%;
    text-align: center;
    width: 100px;
    height: auto;
    max-height: 100px;
    background: url("IMG/hint.png");
    color: white;
}

td.filler {
    width: 5px;
    max-width: 5px;
    height: 5px;
    max-height: 5px;
    background: none;
    border: none;
}

#bl_title {
    background-color: rgb(50, 50, 50, 0.7);
    margin-top: 5%;
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    height: auto;
    padding: 1.5%;
    border: 3px white solid;
    border-radius: 15px;
}

#bl_title > h3 {
    font-size: 220%;
    text-shadow: 10px 10px 10px #000000;
    margin-bottom: -0.5%;
    margin-top: 0;
    color: goldenrod;
    float: left;
    font-family: "Oswald", sans-serif;
}

#bl_title > p {
    font-size: 140%;
    text-shadow: 10px 10px 10px #000000;
}

#input_guess > h1 {
    text-shadow: 10px 10px 10px #000000;
    font-size: 180%;
    margin-left: auto;
}

#input_guess > input {
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 120%;
    width: 250px;
    height: fit-content;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
}

#input_guess {
    padding: 0.5% 1.5% 1.5%;
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
    height: fit-content;
    color: goldenrod;

}

#bl_board {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    width: 100%;
}

#winning_screen_div {
    margin-top: -5%;
    margin-bottom: 2.5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#winning_screen {
    background-color: rgb(50, 50, 50, 0.7);
    color: white;
    font-family: "Oswald", sans-serif;
    padding: 1%;
    border: 3px white solid;
    border-radius: 15px;
    text-shadow: 10px 10px 10px #000000;
    text-align: center;
    position: absolute;
}

#winning_screen > h1 {
    font-size: 250%;
}

#winning_screen > p {
    font-size: 180%;
}

#input_guess > span {
    color: red;
    font-size: 140%;
}

#guess:focus {
    outline: none;
    border-bottom: 2px solid white;
}

#refresh {
    text-shadow: 10px 10px 10px #000000;
    font-family: "Oswald", sans-serif;
    color: limegreen;
    font-size: 250%;
    margin-top: 2.5%;
}

#refresh_div {
    display: flex;
    justify-content: center;
}

#highlight_answer {
    text-shadow: 10px 10px 10px #000000;
    color: limegreen;
    font-size: 110%;
    font-weight: bold;
}

#bloonsle_guide {
    display: none;
    animation: display 1.5s ease;
    font-size: 130%;
    color: lightgreen;
    text-shadow: 2px 2px 2px #000000;

}

#bloonsle_guide_button {
    text-shadow: 10px 10px 10px #000000;
    color: limegreen;
    font-size: 200%;
}

#bloonsle_guide_button:hover {
    transition: font-size 0.2s ease-in-out;
    font-size: 225%;
    cursor: pointer;
}

.answer {
    font-family: "Luckiest Guy", sans-serif;
    text-shadow: 2px 2px 2px #000000;
    color: white;
    font-size: 140%;
    height: 30px;
}

#share_button {
    margin-top: 5%;
    font-family: "Luckiest Guy", sans-serif;
    text-shadow: 2px 2px 2px #000000;
    color: white;
    font-size: 100%;
    padding: 15px;
    letter-spacing: 1px;
    background-color: rgb(50, 50, 50, 0.7);
    width: 40%;
    transition: color .5s;
}

#share_button:hover {
    cursor: pointer;
    color: goldenrod;
    transition: color .5s;
}

@media all and (min-width:960px) and (max-width: 1024px) {
    #bl_board {
        scale: 0.8;
    }
}

@media all and (min-width:801px) and (max-width: 959px) {
    #bl_board {
        scale: 0.8;
    }
}

@media all and (min-width:769px) and (max-width: 800px) {
    #bl_board {
        scale: 0.8;
    }
}

@media all and (min-width:569px) and (max-width: 768px) {
    #bl_board {
        scale: 0.8;
    }
}

@media all and (min-width:481px) and (max-width: 568px) {
    #bl_board {
        scale: 0.8;
    }
}

@media all and (min-width:321px) and (max-width: 480px) {
    #bl_board {
        scale: 0.8;
    }
}

@media all and (min-width:0px) and (max-width: 320px) {
    #bl_board {
        scale: 0.8;
    }
}