@font-face {
    font-family: 'LuckiestGuy';
    src: url('LuckiestGuy-Regular.ttf') format('truetype');
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background: #000;
    display: block;
    zoom: 0.9;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
}

#navbar {
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    margin: -5px -10px 0;
    height: 75px;
    background: linear-gradient(to right, #000, #222, #444, #222, #000);
    border-bottom: 3px solid #DDDDDD;
    font-size: 30px;

    img {
        margin-top: 15px;
        border-radius: 50%;
        transition: scale 0.4s;
        border: 4px solid #DDDDDD;
        position: fixed;
        width: 110px;
        height: 110px;
    }

    img:hover {
        cursor: pointer;
        transition: scale 0.4s;
        scale: 1.04;
    }

    table {
        border-collapse: collapse;

        td {
            box-sizing: border-box;
            height: 67px;
            text-align: center;
            width: 280px;

            a {
                text-shadow: #000 3px 3px 3px;
                text-decoration: none;
                color: #DDDDDD;
                transition: color 0.4s;
            }

            a:hover {
                transition: color 0.4s;
                color: goldenrod;
            }

            a.active {
                color: goldenrod;
            }
        }

        td:nth-child(3) {
            width: 100px;
        }

        td:nth-child(4) {
            text-indent: -70px;
        }
    }
}

#main {
    position: relative;
    top: 175px;
    animation: fadeIn 2s;
    padding-bottom: 175px;
}
