body {
    background: url("background.png");
    box-sizing: border-box;
    overflow-x: hidden;
}

#title {
    background-color: #393939;
    float: left;
    padding: 20px;
    border-bottom: floralwhite 5px solid;
    width: 100%;
    margin: -1%;
    font-family: "Trebuchet MS", sans-serif;
    color: #BBBBBB;
    text-shadow: 5px 5px 5px #000000;
}

#title > img {
    float: left;
    border-radius: 25px;
    border: 5px #393939 solid;
    background-color: #606060;
}

#title > h1 {
    font-size: 275%;
    float: left;
    padding: 20px;
}

#title > * {
    background-color: #393939;
}

.bracket {
    margin-top: 75px;
    float: left;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #BBBBBB;
    scale: 0.99;
}

.bracket > h1 {
    font-family: "Trebuchet MS", sans-serif;
    color: white;
}

.bracket > hr {
    color: white;
    width: 1000%;
    margin-bottom: 2.5%;
}

.rounds {
    font-size: 150%;
    text-align: center;
    color: goldenrod;
}

.rounds-group {
    font-size: 150%;
    text-align: center;
    color: goldenrod;
    border: 1px white solid;
    width: 200px;
    height: 30px;
    background: rgba(100, 100, 100, 0.25);
}

.points {
    font-size: 150%;
    text-align: center;
    color: yellow;
    border: 1px white solid;
    width: 30px;
    height: 30px;
    background: rgba(100, 100, 100, 0.25);
}

td {
    padding: 10px;
    font-size: 100%;
}

.blank {
    border: 0;
}

.full {
    border: 1px white solid;
    width: 200px;
    height: 30px;
    background: rgba(100, 100, 100, 0.25);
}

.arrow_a {
    border-top: white 1px solid;
    width: 200px;
    height: 30px;
}

.arrow_b {
    border-bottom: white 1px solid;
    width: 200px;
    height: 30px;
}

.arrow_c {
    border-right: white 1px solid;
    width: 200px;
    height: 30px;
}

.w {
    color: limegreen;
    text-decoration: none;
    cursor: default;
}

.l {
    color: indianred;
    text-decoration: none;
    cursor: default;
}

.w:hover {
    text-decoration: underline;
}

.l:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

.choose-group {
    font-size: 175%;
    text-align: center;
    border: 1px white solid;
    width: 250px;
    height: 40px;
    background: rgba(100, 100, 100, 0.25);
}

.choose-group:nth-child(1):hover {
    cursor: pointer;
    background: rgba(255, 0, 0, 0.35);
    transition: .4s ease;
}

.choose-group:nth-child(2):hover {
    cursor: pointer;
    background: rgba(100, 255, 100, 0.35);
    transition: .4s ease;
}

.choose-group:nth-child(3):hover {
    cursor: pointer;
    background: rgba(50, 50, 255, 0.35);
    transition: .4s ease;
}

.choose-group:nth-child(4):hover {
    cursor: pointer;
    background: rgba(255, 200, 0, 0.35);
    transition: .4s ease;
}

.playerA {
    font-size: 150%;
    text-align: center;
    color: yellow;
    border: 1px white solid;
    width: 200px;
    height: 30px;
    background: rgba(100, 100, 100, 0.25);
}

.playerB {
    font-size: 150%;
    text-align: center;
    color: yellow;
    border: 1px white solid;
    width: 200px;
    height: 30px;
    background: rgba(100, 100, 100, 0.25);
}

.playerC {
    font-size: 150%;
    text-align: center;
    color: yellow;
    border: 1px white solid;
    width: 200px;
    height: 30px;
    background: rgba(100, 100, 100, 0.25);
}

.playerD {
    font-size: 150%;
    text-align: center;
    color: yellow;
    border: 1px white solid;
    width: 200px;
    height: 30px;
    background: rgba(100, 100, 100, 0.25);
}

.p5 {
    color: #00FF00;
    font-size: 125%;
}

.p4 {
    color: #009900;
    font-size: 125%;
}

.p3 {
    color: #bbBB00;
    font-size: 125%;
}

.p2 {
    color: #FF6600;
    font-size: 125%;
}

.p1 {
    color: #AA0000;
    font-size: 125%;
}

.p0 {
    color: darkgray;
    font-size: 125%;
}

a.p1, a.p2, a.p3, a.p4, a.p5 {
    text-decoration: underline;
}

.q {
    color: limegreen;
    text-decoration: none;
    cursor: default;
}

a.q {
    color: limegreen;
    text-decoration: underline;
    cursor: pointer;
}

.fullQ {
    border: 1px white solid;
    width: 300px;
    height: 40px;
    background: rgba(100, 100, 100, 0.25);
    font-size: 130%;
}
