body {
    background-image: url("IMG/firingRange.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#main {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;

    li {
        .tournament {
            transition: scale 0.5s;
            margin-bottom: 25px;
            margin-top: 25px;
            zoom: 1.2;

            table {
                height: 200px;
                width: 800px;
                border-collapse: collapse;
                background: rgb(50, 50, 50, 0.85);

                tr {
                    td {
                        border: 4px #DDDDDD solid;

                        img {
                            margin: -1px -1px -5px;
                        }

                        h1 {
                            color: goldenrod;
                            margin: 10px;
                            font-family: "Josefin Sans", sans-serif;
                        }

                        p {
                            color: #DDDDDD;
                            margin: 10px;
                            font-family: "Trebuchet MS", sans-serif;

                            .golden {
                                font-family: "Josefin Sans", sans-serif;
                                font-size: 25px;
                                color: gold;
                                font-weight: bold;
                            }
                        }
                    }

                    td:nth-child(1) {
                        width: 198px;
                    }

                    td:nth-child(2) {
                        vertical-align: top;
                        text-align: left;
                    }
                }
            }
        }

        .tournament:hover {
            transition: scale 0.5s;
            scale: 1.05;
            cursor: pointer;
        }
    }
}
