body {
    background-image: url("IMG/tinkerton.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#main {
    display: flex;
    justify-content: center;

    #leaderboard {
        margin-top: 300px;
        width: 1400px;
        display: flex;
        justify-content: center;
        border: 5px #DDD outset;
        background: rgb(50, 50, 50, 0.75);
        text-align: center;
        border-collapse: collapse;
        font-family: "Josefin Sans", sans-serif;

        h1 {
            color: goldenrod;
            font-size: 50px;
            text-shadow: 3px 3px 3px #000;
        }

        #solo, #coop {
            width: 700px;

            h1 {
                font-size: 35px;
            }

            table {
                border-collapse: collapse;
                margin: 20px;

                td {
                    img {
                        width: 137px;
                        height: 125px;
                        padding: 5px;
                    }

                    border: 5px solid goldenrod;
                    color: white;
                    background: rgb(250, 200, 0, 0.15)
                }

                td:nth-child(2) {
                    width: 100%;
                    text-align: left;
                    padding: 10px;
                    font-family: "SN Pro", serif;

                    #player {
                        color: gold;
                        font-size: 30px;
                    }

                    #mapInfo {
                        color: goldenrod;
                        font-size: 25px;
                    }
                }

                .filler {
                    border: 0;
                    background: 0;
                    height: 10px;
                }
            }
        }
    }
}

#bossSelect {
    position: absolute;
    width: 960px;
    margin-top: -40px;

    ul {
        list-style: none;

        li {
            background: rgb(20, 20, 20, 0.85);
            border-radius: 25px;
            padding: 10px 5px;
            display: inline-block;
            margin: 10px;
            transition: scale .5s;

            img {
                width: 90px;
                height: 80px;

            }
        }

        li:hover {
            transition: scale .5s;
            scale: 1.15;
            cursor: pointer;
        }

        li.selected {
            border: 4px solid gold;
            background: rgb(120, 100, 0, 0.85);
        }
    }
}

#credit {
    position: absolute;
    bottom: 50px;
    color: gold;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-size: 25px;
}

#update {
    position: absolute;
    bottom: 0;
    color: goldenrod;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-size: 20px;
}

